:root { 
--white_A700_7f:#ffffff7f; 
--red_400_90:#eb3e5d90; 
--blue_gray_400:#7878aa; 
--pink_900:#893843; 
--gray_900_99:#10084299; 
--blue_gray_500:#67748e; 
--red_400_99:#eb3e5d99; 
--black_900_0f:#0000000f; 
--red_400:#eb3f57; 
--black_900_3f:#0000003f; 
--gray_200:#f0eded; 
--black_900_0c:#0000000c; 
--gray_100:#f5f5fa; 
--white_A700_cc:#ffffffcc; 
--black_900_11:#00000011; 
--black_900:#000000; 
--indigo_200_7f:#aaaacc7f; 
--blue_gray_800:#454654; 
--blue_gray_900:#252f40; 
--gray_900_90:#10084290; 
--white_A700:#ffffff; 
}